<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>
      Web site
    </title>
  </head>
  <body>
    {{> header}}
    <p>{{uppercase welcome}}</p>
    {{> footer}}
  </body>
</html>
